main {
  width: 80vw;
  min-width: 350px;
  max-width: 700px;
  margin: auto;
  height: 60vh;
}
.first-section {
  background-color: var(--clr-soft-red);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  padding-right: 2em;
  color: var(--clr-pale-orange);
  margin-bottom: 4em;
}
.first-section p {
  font-size: 0.9rem;
}
.first-section p span {
  font-size: 1.2rem;
  font-weight: 700;
}
.second-section {
  background-color: var(--clr-pale-orange);
  border-radius: 15px;
  padding: 1em;
  padding-bottom: 2em;
}
.chart-container {
  display: flex;
  border-bottom: 2px solid var(--clr-cream);
  justify-content: space-between;
  align-items: flex-end;
  min-height: 300px;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.chart-container p {
  color: var(--clr-medium-brown);
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer p {
  font-size: 0.9rem;
  color: var(--clr-medium-brown);
  font-weight: 700;
}

footer p span {
  color: black;
  font-weight: 700;
}
.total {
  font-size: 2em;
}
.percentage {
  font-size: 1em;
}

@media screen and (max-width: 500px) {
  main {
    height: 80vh;
    margin-top: -20px;
    margin-bottom: 40px;
  }
}
