@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-soft-red: hsl(10, 79%, 65%);
  --clr-cyan: hsl(186, 34%, 60%);
  --clr-dark-brown: hsl(25, 47%, 15%);
  --clr-medium-brown: hsl(28, 10%, 53%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-pale-orange: hsl(33, 100%, 98%);
}
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  background-color: var(--clr-cream);
  display: grid;
  place-content: center;
}

img {
  max-width: 100%;
  display: block;
}
